{% extends "base.html" %}

{% block extrahead %}
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ config.site_name }}">
  <meta property="og:title" content="{{ page.title if page.title and page.title != 'Home' else config.site_name }}">
  <meta property="og:description" content="{{ page.description or config.site_description }}">
  <meta property="og:image" content="{{ config.site_url }}assets/img/og-image.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ config.site_url }}assets/img/og-image.png">
{% endblock %}
